.hero2 {
display: flex;
align-items: center;
justify-content: space-between;
padding: 60px;
}

/* TEXT */
.text {
max-width: 50%;
}

.subtitle {
color: #777;
letter-spacing: 2px;
margin-bottom: 10px;
}

.text h1 {
font-size: 36px;
margin-bottom: 20px;
}

.text p {
margin-bottom: 20px;
color: #555;
}

.text ul {
list-style: none;
}

.text li {
margin-bottom: 10px;
}

/* IMAGE */
.image {
position: relative;
}

.image img {
width: 400px;
border-radius: 15px;
}

.badge {
position: absolute;
bottom: -20px;
right: -20px;
background: linear-gradient(45deg, #2b2bff, #00c6ff);
color: white;
padding: 20px;
border-radius: 15px;
text-align: center;
font-size: 22px;
font-weight: bold;
}

.badge span {
font-size: 12px;
display: block;
}