.hero-half {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  min-height: 520333px;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* ajusta el video al contenedor */
  object-position: center center;
  transform: none;
  animation: none;
  z-index: -1; /* queda detrás del contenido */
}

